agm-map {
  height: 450px;
  width: 600px;
}

button.distributors {
  background-color: #EB6D37;
  font-family: "DejaVu Sans Mono", serif;
  padding: 0;
}

p.distributor-name {
  font-size: 0.9rem;
  margin: 0;
}

p.distributor-direction {
  font-size: 0.5rem;
  margin: 0;
}
