<h2 mat-dialog-title class="text-center">DISTRIBUIDORES MÁS CERCANOS</h2>
<mat-dialog-content fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="1.5rem">
  <div fxLayout="column" fxLayoutGap="1rem">
    <button mat-flat-button type="button" class="text-wrap distributors"
            *ngFor="let distributor of distributors">
      <p class="distributor-name">{{distributor.Name.substring(0, 1).toUpperCase() + distributor.Name.substring(1)}}</p>
      <p class="distributor-direction">{{distributor.Direction}}</p>
    </button>
  </div>
  <div fxLayout="row">
    <agm-map [latitude]="latitude" [longitude]="longitude">
      <agm-marker [latitude]="latitude" [longitude]="longitude" [label]="'Tu'"></agm-marker>
      <agm-marker *ngFor="let marker of markers"
                  [iconUrl]=""
                  [latitude]="marker.latitude"
                  [longitude]="marker.longitude">
      </agm-marker>
    </agm-map>
  </div>
</mat-dialog-content>
<mat-dialog-actions fxLayout="row" fxLayoutAlign="end">
  <button mat-button [mat-dialog-close]="false">Cerrar</button>
</mat-dialog-actions>
